<!DOCTYPE html>
<html>
<head>
    <title>Library Management</title>
    <style>
        button {
            padding: 10px;
            font-size: 16px;
            border: none;
            background-color: #333;
            color: #fff;
            margin: 5px;
        }
    </style>
</head>
<body>
<h1>Library Management</h1>
<a href="/logout">Logout</a><br/>
<p>Select an option to manage the library:</p>
<button onclick="location.href='/admin/studentManagement'">Student Management</button>
<button onclick="location.href='/admin/bookManagement'">Book Management</button>
<button onclick="location.href='/admin/borrowManagement'">Borrow Management</button>
<button onclick="location.href='/admin/returnManagement'">Return Management</button>
<button onclick="location.href='/admin/overdueManagement'">Overdue Management</button>
</body>
</html>