<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대여중인 책 목록</title>
    <a href="/admin/adminMenu">돌아가기</a></p>
</head>
<body>
<!--<p><h1><span th:text="${studentInfo.studentName}"></span> 학생 </h1>-->
<!--<div th:each="Student : ${studentInfo}">-->
<!--    <p>학번 : <span th:text="${Student.studentNumber}"></span></p>-->
<!--    <p>이메일 : <span th:text="${Student.studentEmail}"></span></p>-->
<!--    <p>연락처 : <span th:text="${Student.studentPhone}"></span></p>-->
<!--    <p>포인트 : <span th:text="${Student.balance}"></span></p>-->
<!--    <p>연체료 : <span th:text="${Student.latefee}"></span></p>-->

    <br>
</div>