<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--상세보기-->
<div class="container">
    <h3>도서 상세보기</h3>
    <tr>
        <td>책 등록ID: </td>
        <td th:text="${BookDetailDTO.getBookId()}"></td>
        </br>
        <td>책 제목: </td>
        <td th:text="${BookDetailDTO.getBookTitle()}"></td>
        </br>
        <td>책 저자: </td>
        <td th:text="${BookDetailDTO.getBookAuthor()}"></td>
        </br>
        <td>책 총 수량: </td>
        <td th:text="${BookDetailDTO.getBookQuantity()}"></td>
        </br>
        <td>책 남은 수량: </td>
        <td th:text="${BookDetailDTO.getBookAvailable()}"></td>
        </br>
        <td>책 가격: </td>
        <td th:text="${BookDetailDTO.getBookPrice()}"></td>
    </tr>

</div>

</body>
</html>