<!-- Create a web page with search function-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <a><span th:text="${email}"></span>님 환영합니다.</a>
  <a href="/logout">Logout</a><br/>
  <br>
  <a>잔여 포인트 : <span th:text="${balance}"></span></a>
  <a href="/goDeposit">충전하기</a>
  <a href="/goWithdraw">출금하기</a>
  <a href="/goTotalTransaction">총 충전/출금 내역</a>
  <a href="/testPoint">테스트 포인트 충전: 5000원</a>
  <br>
  <a href="/studentHistory">총 대여 내역</a>



</head>

<script>
  var popup=localStorage.getItem('popup');
  console.log(popup);
  if(popup !== 'dontshow'){
    window.open("/instructionpopup", "instruction", "width=800, height=500");
  }


  function search() {
    let obj=document.getElementById("keyword").value;
    const httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = () =>{
      if (httpRequest.readyState === XMLHttpRequest.DONE){
        if (httpRequest.status===200) {
          const result = httpRequest.response;
          var values="";
          if(result!==null){
            for (var i=0; i<result.length; i++){
              var bookId = result[i]["bookId"];
              values+="<br>"+result[i]["bookId"];
              values+="<br>"+result[i]["bookTitle"];
              values+="<br>"+result[i]["bookAuthor"];
              values+="<br><button onclick='location.href=\"/book?bookId="+bookId+"\"'>상세보기</button>";

              values+="<br>";

            }
            document.getElementById("ajaxTable").innerHTML=values;
          }
        }else {
          alert('서버에러');
        }
      }
    };
    httpRequest.open('GET', '/searchs?keyword='+obj);
    httpRequest.responseType="json";
    httpRequest.send();
  }
</script>

<body>
<h1>SEARCH</h1>
<input class="" id="keyword" name="keyword" onkeyup="search();" type="text" size="20">
<button onclick="search();" type="button">Search</button>
</body>
<div  id="ajaxTable">
</div>

<footer class="main__nav__next">
</footer>
</html>