<!-- Create a web page with search function-->
<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <a href="/logout">Logout</a>
</head>
<script>
  function search() {
    let obj=document.getElementById("keyword").value;
    const httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = () =>{
      if (httpRequest.readyState === XMLHttpRequest.DONE){
        if (httpRequest.status===200) {
          const result = httpRequest.response;
          var values="";
          if(result!==null){
            for (var i=0; i<result.length; i++){
              var title = result[i]["bookId"];
              values+="<br>"+result[i]["bookId"];
              values+="<br>"+result[i]["bookTitle"];
              values+="<br>"+result[i]["bookAuthor"];
              values+="<br>";
              <button onClick="borrow();" value={title} type="button">Search</button>
            }
            document.getElementById("ajaxTable").innerHTML=values;
          }
        }else {
          alert('서버에러');
        }
      }
    };
    httpRequest.open('GET', '/searchs?keyword='+obj);
    httpRequest.responseType="json";
    httpRequest.send();
  }
</script>

<body>
<h1>SEARCH</h1>
<input class="" id="keyword" name="keyword" onkeyup="search();" type="text" size="20">
<button onclick="search();" type="button">Search</button>
</body>
<div  id="ajaxTable"></div>
<footer class="main__nav__next">
</footer>
</html>