<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>총 내역</title>
</head>
<body>
    <div th:each="dto : ${studentHistoryDTO}">
        <p>책 일련번호: <span th:text="${dto.bookTitle}"></span></p>
        <p>책 이름: <span th:text="${dto.bookTitle}"></span></p>
        <p>책 저자: <span th:text="${dto.bookAuthor}"></span></p>
        <p>책 가격: <span th:text="${dto.bookPrice}"></span></p>
        <p>대출일자: <span th:text="${dto.borrowedDate}"></span></p>
        <p>반납기일: <span th:text="${dto.dueDate}"></span></p>
        <p>반납일자: <span th:text="${dto.returnedDate}"></span></p>
        <br>
    </div>

</body>
</html>