<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>총 내역</title>
    <p><h2>총 대여내역</h2>
    <a href="/">돌아가기</a></p>
</head>
<body>

    <h1>현재 대여중 책 목록</h1>
    <table border="1">
        <tr>
            <th>책 번호</th>
            <th>책 이름</th>
            <th>책 저자</th>
            <th>책 가격</th>
            <th>빌린 날짜</th>
            <th>반납 기일</th>
        </tr>
        <tr th:each="BorrowDTO : ${studentCurrentBorrowDTO}">
            <td th:text="${BorrowDTO.bookId}"></td>
            <td th:text="${BorrowDTO.bookTitle}"></td>
            <td th:text="${BorrowDTO.bookAuthor}"></td>
            <td th:text="${BorrowDTO.bookPrice}"></td>
            <td th:text="${BorrowDTO.borrowedDate}"></td>
            <td th:text="${BorrowDTO.dueDate}"></td>
            <td>
                <form action="/returnBook" method="post">
                    <input type="hidden" name="bookId" th:value="${BorrowDTO.bookId}">
                    <input type="submit" value="반납하기">
                </form>
            </td>
        </tr>
        <br>
    </table>

    <h1>과거 대여한 책 목록</h1>
    <table border="1">
        <tr>
            <th>책 번호</th>
            <th>책 이름</th>
            <th>책 저자</th>
            <th>책 가격</th>
            <th>빌린 날짜</th>
            <th>반납 기일</th>
            <th>반납 날짜</th>
        </tr>
        <tr th:each="HistoryDTO : ${studentHistoryDTO}">
            <td th:text="${HistoryDTO.bookId}"></td>
            <td th:text="${HistoryDTO.bookTitle}"></td>
            <td th:text="${HistoryDTO.bookAuthor}"></td>
            <td th:text="${HistoryDTO.bookPrice}"></td>
            <td th:text="${HistoryDTO.borrowedDate}"></td>
            <td th:text="${HistoryDTO.dueDate}"></td>
            <td th:text="${HistoryDTO.returnedDate}"></td>
        </tr>
        <br>
    </table>

</body>
</html>